# Directus
SECRET=befd4ab659699725907d229ef8a04edb
PUBLIC_URL=https://panel.aegora.es

# Initial administrator
ADMIN_EMAIL=ia-sagu.25@gmail.com
ADMIN_PASSWORD=78f6d15d4734b27076940d72fecb108a

# PostgreSQL
DB_CLIENT=pg
DB_HOST=aegora-postgres
DB_PORT=5432
DB_DATABASE=directus
DB_USER=directus_app
DB_PASSWORD=82dba079f9027487a0883178a16d02b5

# Runtime
HOST=0.0.0.0
PORT=8055
TZ=Europe/Madrid
LOG_LEVEL=info

# Realtime
WEBSOCKETS_ENABLED=true
WEBSOCKETS_HEARTBEAT_PERIOD=30

# Files
STORAGE_LOCATIONS=local
STORAGE_LOCAL_DRIVER=local
STORAGE_LOCAL_ROOT=/directus/uploads

# Cache
CACHE_ENABLED=false
CACHE_AUTO_PURGE=false
CACHE_SCHEMA=true

# Security / limits
SERVE_APP=true
MAX_PAYLOAD_SIZE=10mb
